$colour-primary: #e12a22;

$font-colour: #252525;
$font-colour-contrast: #fff;

$background-colour: #fff;
$background-colour-contrast: #252525;

$font-family: 'ITC Avant Garde Std Bk', sans-serif;
$font-weight: 300;

$transition: all .5s;

$icon-height: 2rem;